.h1tag{

    text-align:center;
    color: aliceblue;
}
.imageProp {
  transition: transform 20.3s ease; /* smooth zoom */
}

.imageProp:hover {
  transform: scale(1.5); /* zoom to 110% */
}

   @keyframes float {
        0% {
          transform: translateY(0) rotate(0deg);
        }
        50% {
          transform: translateY(-30px) rotate(180deg);
        }
        100% {
          transform: translateY(0) rotate(360deg);
        }
      }
.leaf {
        position: absolute;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        animation: float 5s infinite ease-in-out;
      }
      .leaf:nth-child(1) {
        top: 10%;
        left: 20%;
        animation-delay: 0s;
        animation-duration: 4s;
      }
      .leaf:nth-child(2) {
        top: 30%;
        left: 70%;
        animation-delay: 1s;
        animation-duration: 5s;
      }
      .leaf:nth-child(3) {
        top: 50%;
        left: 40%;
        animation-delay: 2s;
        animation-duration: 6s;
      }
      .leaf:nth-child(4) {
        top: 70%;
        left: 10%;
        animation-delay: 3s;
        animation-duration: 4.5s;
      }
      .leaf:nth-child(5) {
        top: 80%;
        left: 60%;
        animation-delay: 4s;
        animation-duration: 5.5s;
      }
